@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background2: #efefef;
  --text-color: #171717;
  --accent: #57c102;
  --accent2: #b1e781;
}

body {
  font-family: "Roboto", sans-serif;
}
/* styles/Form.module.css */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 40px auto;
  background-color: var(--background);
}
.logo {
  position: absolute;
  left: 60px;
  top: 30px;
  z-index: 999;
  display: flex;
  margin: auto;
  margin-left: 30px;
}

.hero {
  background: url("/hero.png") center no-repeat;
  height: 800px;
  width: 100%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0.8;
}
.heroText {
  font-size: 60px;
  color: var(--text-color);
  background-color: rgba(256, 256,256, 0.3);
  font-weight: bold;
  flex: 1;
  z-index: 999;
  text-align: center;
}
.heroSubtext {
  font-size: 30px;
  color: var(--text-color);
  background-color: rgba(256, 256,256, 0.3);
  font-weight: bold;
  flex: 1;
  z-index: 999;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section {
  background-color: var(--background);
  padding: 20px;
  border-radius: 10px;
}

h2 {
  color: var(--accent); /* Match the green color from the image */
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: 700;
}

.grid {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  gap: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  background-color: var(--background2);
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  padding: 14px;
  flex: 1;
}
.inputGroup-selected {
  background-color: var(--accent);
  color: var(--background);
}
.inputGroupGreen::placeholder {
  color: var(--background);
}
.propertyText {
  margin-top: 22px;
  margin-bottom: 16px;
  font-size: 22px;
}

/*.radioGroup, .checkboxGroup {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  background-color: var(--background2);*/
/*  padding-top: 20px;*/
/*  padding-bottom: 20px;*/
/*  justify-content: space-around;*/
/*  align-items: center;*/
/*}*/

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input,
.select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--background2);
  width: 100%;
}
.radioDiscount {
  padding: 12px;
  border: 1px dashed;
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
}
.radioDiscountHighlight {
  background-color: #57c102;
  border: none;
  color: var(--background);
}
.radioFrequency {
  font-weight: normal;
  flex-grow: 1;
  margin-bottom: 30px;
  text-align: center;
  white-space: pre-wrap;
  flex: 1;
}
.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--background);
}
.quoteBox {
  background-color: var(--background2);
  padding: 20px;
}
.quoteItem {
  display: flex;
  justify-content: space-between;
}
.total {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-top: 12px;
}

.submitButton {
  padding: 15px;
  background-color: var(--accent); /* Green button */
  color: var(--background);
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: var(--accent);
}

.submitButton:focus {
  outline: none;
}
.extras-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.icon {
  font-size: 64px;
}
.yellow {
  color: #f3a22d;
}

.extras-icon {
  color: var(--accent);
}

.extras-option {
  border-color: var(--background);
  background-color: var(--background2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  flex: 1 0 calc(25% - 10px); /* 5 items on desktop */
  box-sizing: border-box; /* Include padding and borders in the element's total width */
}

.radioGroup {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
  gap: 20px; /* Space between grid items */
  background-color: var(--background2);
  padding: 20px;
}

.radioLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--background);
  border: 1px solid #ddd;
  font-size: 24px;
  font-weight: bold;
  box-sizing: border-box; /* Include padding and border in width calculation */
  transform: scale(0.9);
}

.selected {
  background-color: var(--accent);
  border-color: var(--accent);
  color: var(--background);
  transform: scale(1);
}
.selected > svg {
  color: var(--background);
}

.room-selector {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Indicate it's clickable */
  background-color: var(--background2);
  width: 33%;
}

.room-selector > div {
  display: flex;
  justify-content: center; /* Center text */
  align-items: center;
  width: 50%;
}

.inputGroup {
  display: flex;
  justify-content: center; /* Center text */
  align-items: center;
}

.buttonGroup {
  position: absolute; /* Position buttons relative to the parent */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Offset for vertical centering */
  display: flex;
  width: 80%; /* Take full width of parent */
  justify-content: space-between; /* Space buttons evenly */
}

.button {
  color: var(--accent);
  cursor: pointer;
  font-size: 34px;
}

.userInputGroup {
  width: 100%;
  display: flex;
  background-color: var(--background2);
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

.userInputGroup > input {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  padding: 14px;
  flex: 1;
}

/* Tablet */
@media (max-width: 1024px) {
  .radioGroup {
    grid-template-columns: repeat(4, 1fr); /* Still 4 columns */
  }
  .extras-option {
    flex: 1 0 calc(30% - 10px); /* 3 items on tablet */
  }
}

/* Mobile  */
@media (max-width: 768px) {
  .radioGroup {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */
  }
  .room-selector {
    width: 100%;
  }
  .extras-option {
    flex: 1 0 calc(50% - 10px); /* 2 items on mobile */
  }
  .grid {
    flex-direction: column; /* Stack items vertically on mobile */
  }
  .section {
    padding: 0px;
  }
  .logo {
    left: 0;
  }

  .userInputGroup {
    flex-direction: column;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
